<h1 class="h3 text-center my-4 pb-3">LOOKING FOR A:</h1>

<div class="d-flex justify-content-around">
  <button (click)="searchTank()" class="btn btn-warning">TANK</button>
  <button (click)="searchDamage()" class="btn btn-warning">DAMAGE</button>
  <button (click)="searchSupport()" class="btn btn-warning">SUPPORT</button>
</div>

<h2 class="text-center h3 my-5"><span class="text-orange">{{ charactersRole }}</span> CHARACTERS:
  <br><small>You can select up to 3</small>
</h2>

<div class="charactersList d-flex justify-content-around text-center">
  <div class="character_icon">
    <img src="../../../assets/Maquettes/ow_hexface/ana.png" alt="">
    <h6>Ana</h6>
  </div>
  <div class="character_icon">
    <img src="../../../assets/Maquettes/ow_hexface/ashe.png" alt="">
    <h6>Ashe</h6>
  </div>
  <div class="character_icon">
    <img src="../../../assets/Maquettes/ow_hexface/bastion.png" alt="">
    <h6>Bastion</h6>
  </div>
  <div class="character_icon">
    <img src="../../../assets/Maquettes/ow_hexface/brigitte.png" alt="">
    <h6>Brigitte</h6>
  </div>
  <div class="character_icon">
    <img src="../../../assets/Maquettes/ow_hexface/doomfist.png" alt="">
    <h6>Doomfist</h6>
  </div>
  <div class="character_icon">
    <img src="../../../assets/Maquettes/ow_hexface/dva.png" alt="">
    <h6>D.Va</h6>
  </div>
  <div class="character_icon">
    <img src="../../../assets/Maquettes/ow_hexface/genji.png" alt="">
    <h6>Genji</h6>
  </div>
  <div class="character_icon">
    <img src="../../../assets/Maquettes/ow_hexface/hanzo.png" alt="">
    <h6>Hanzo</h6>
  </div>
  <div class="character_icon">
    <img src="../../../assets/Maquettes/ow_hexface/junkrat.png" alt="">
    <h6>Junkrat</h6>
  </div>
  <div class="character_icon">
    <img src="../../../assets/Maquettes/ow_hexface/lucio.png" alt="">
    <h6>Lucio</h6>
  </div>
</div>